/* Gruvbox theme for wofi */
window {
    background-color: #1d2021;
    border: 2px solid #458588;
}

#inner-box,
#outer-box,
#scroll {
    background-color: #1d2021;
}

#input {
    border: 1px solid #3c3836;
    background-color: #282828;
    color: #ebdbb2;
}

#input:focus {
    border-color: #458588;
}

#text {
    color: #ebdbb2;
}

#entry {
    background-color: #1d2021;
}

#entry:selected {
    background-color: #458588;
}

#entry:selected #text {
    color: #ebdbb2;
} 