* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
}

window#waybar {
  background-color: #1d2021;
  color: #ebdbb2;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#workspaces {
  margin-left: 7px;
}

#workspaces button {
  all: initial;
  padding: 2px 6px;
  margin-right: 3px;
  background-color: transparent;
  color: #a89984;
  border-radius: 4px;
}

#workspaces button.active {
  background-color: #458588;
  color: #ebdbb2;
}

#workspaces button:hover {
  background-color: #3c3836;
  color: #ebdbb2;
}

#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#clock {
  min-width: 12px;
  margin-right: 13px;
  padding: 0 8px;
  background-color: #282828;
  color: #ebdbb2;
  border-radius: 4px;
}

#cpu {
  color: #98971a;
}

#battery {
  color: #d79921;
}

#battery.charging {
  color: #98971a;
}

#battery.critical:not(.charging) {
  color: #fb4934;
}

#network {
  color: #458588;
}

#network.disconnected {
  color: #cc241d;
}

#bluetooth {
  color: #b16286;
}

#bluetooth.disabled {
  color: #665c54;
}

#pulseaudio {
  color: #689d6a;
}

#pulseaudio.muted {
  color: #cc241d;
}

#clock {
  color: #d65d0e;
}

tooltip {
  background-color: #1d2021;
  border: 1px solid #458588;
  border-radius: 4px;
  padding: 4px;
}

tooltip label {
  color: #ebdbb2;
  padding: 2px;
} 