/* Import theme colors */
@import "theme.css";

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
}

window {
    margin: 0px;
    padding: 20px;
    border-radius: 8px;
    opacity: 0.95;
}

#inner-box {
    margin: 0;
    padding: 0;
    border: none;
}

#outer-box {
    margin: 0;
    padding: 20px;
    border: none;
}

#scroll {
    margin: 0;
    padding: 0;
    border: none;
}

#input {
    margin: 5px;
    padding: 8px;
    border-radius: 4px;
}

#text {
    margin: 5px;
    border: none;
}

#entry {
    padding: 8px;
    margin: 2px;
    border-radius: 4px;
}

#entry:selected {
    outline: none;
    border: none;
}

#entry image {
    margin-right: 8px;
} 